<link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/logos/icon64px.png' | relative_url }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/logos/iconApple.png' | relative_url }}">

<meta property="og:title" content="NSMBW Speedrun Guides">
<meta property="og:description" content="Guides and resources for New Super Mario Bros. Wii speedrunning.">
<meta property="og:image" content="{{ '/assets/logos/iconLinkPreview.png' | absolute_url }}">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ page.url | absolute_url }}">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image" content="{{ '/assets/logos/iconLinkPreview.png' | absolute_url }}">